/* Global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    height: 100vh;
}

h3 {
    font-size: 2.5em;
    text-shadow: 0 0 10px #00ff00;
    max-width: 600px;
}

.social-links {
    margin-top: 10px;
    margin: 10px;
}

.social-item {
    font-size: 1.5em;
    color: #00ff00;
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s, text-shadow 0.3s;
}

.social-item:hover {
    color: #00cc00;
    text-shadow: 0 0 5px #00ff00;
}
